<html>
  <body>
    <p>Hi <strong>{{firstName}}</strong>,</p>
    <p>I hope you're doing well!</p>

    <p>I'm Adam Wyrzycki, and I manage an agency based in Warsaw, Poland. Our team includes 20 senior-level engineers in the EU, along with 8 collaborators in the US.<br>
    Our US team is mainly responsible for client communication, while all other tasks, like coding, are handled by our EU developers.<br>

    <strong>We're currently looking for a US-based professional who can work part-time with us.</strong><br>

    After reviewing your GitHub profile ({{github_url}}), I was really impressed with your background.<br><br>

    The role would focus exclusively on client communication for one or two hours per day, making use of your native English skills.<br>

    <strong>Here's what we're looking for:</strong><br>
    - US citizenship<br>
    - Development experience.<br><br>

    If this sounds like an opportunity you'd be interested in, I'd love to chat and provide more details.<br><br>

    Best regards,<br>
    Adam Wyrzycki.
    </p>
  </body>
</html>